<div class="container">
  <h1>Welcome to User App!</h1>
  <p>Time to make a new account</p>

<form action="/create_users" method="POST">
  <div>
    <label for="first_name">First Name: </label>
    <input id="first_name" type="text" name="user[first_name]">
  </div>
  <div>
    <label for="last_name">Last Name: </label>
    <input id="last_name" type="text" name="user[last_name]">
  </div>
  <div>
    <label for="email">Email: </label>
    <input id="email" type="text" name="user[email]">
  </div>
  <div>
    <label for="password">Password: </label>
    <input id="password" type="password" name="user[password]">
  </div>
  <div>
    <input type="submit">
  </div>
</form>


<h3>LOGIN HERE!</h3>
  <form action="/login" method="POST">  
    <div>
      <label for="login_email">Email: </label>
      <input id="login_email" type="text" name="user[email]">
    </div>
    <div>
      <label for="login_password">Password: </label>
      <input id="login_password" type="password" name="user[password]">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</div>


      <% if session[:email] %>
      <p> <a href="/secret">Why you hanging out here? Go to the members only spot, yo -  </a>  </p>
      <h2> </h2>
      <% end %>
