      <% if session[:email] %>
      <h1> Champagne Room </h1>
      <p> MEMBERS ONLY, SON!</p>
      <p>  <a href="/logout">Log Out </a> </p>
      <% else  %>
      <h2> YO FOOL - YOU AIN'T GOT NO ACCESS</h2>
      <% end %>

      <a href='/'>Back to main page</a>

